<div class="noticia-container mat-elevation-z4">
  <mat-card class="noticia-card">
    <h2>{{ infosPostagem.nomeCategoria }}</h2>

    <mat-card-header class="cabecalho-noticia">
      <mat-card-title class="noticia-titulo"> {{ infosPostagem.titulo }}</mat-card-title>
      <mat-card-subtitle class="noticia-subtitulo"> {{ infosPostagem.descricao }}</mat-card-subtitle>

      <p><Data>{{ infosPostagem.dataCriacao }}</Data></p>

    </mat-card-header>

    <div class="imagem-da-noticia">
      <img mat-card-image src="https://via.placeholder.com/800x400" alt="Imagem da Notícia" class="noticia-imagem" />
    </div>


    <!-- Botões de Controle -->
    <div class="botoes-controle">
      <button 
        mat-raised-button 
        [ngClass]="{ 'botao-selecionado': textoSelecionado === 'ia' }" 
        (click)="mostrarTexto('ia')">
        Escrito pela IASentona
      </button>
      <button 
        mat-raised-button 
        [ngClass]="{ 'botao-selecionado': textoSelecionado === 'humano' }" 
        color="accent"
        (click)="mostrarTexto('humano')">
        Escrito por Humanos
      </button>
    </div>

    <!-- Conteúdo Controlado -->
    <div *ngIf="textoSelecionado === 'ia'">
      <h3>Gerado pela IASentona</h3>
      <mat-card-content>
        <p class="noticia-conteudo">
          {{ infosPostagem.textoAlteradoPorIA }}
        </p>
      </mat-card-content>

      <h3>Palavras e opiniões retiradas</h3>
      <mat-card-content>
        <p class="noticia-conteudo">
          {{ infosPostagem.palavrasRetiradasPorIA}}
        </p>
      </mat-card-content>
    </div>

    <div *ngIf="textoSelecionado === 'humano'">
      <h3>Matéria escrita por humanos</h3>
      <mat-card-content>
        <p class="noticia-conteudo">
          {{ infosPostagem.conteudo }}
        </p>
      </mat-card-content>
    </div>

    <mat-card-actions class="botoes-de-envio">
      <button class="botao" color="primary">Compartilhar</button>
    </mat-card-actions>
  </mat-card>
  <div class="card-leia-tambem">
    <app-card-leia-tambem></app-card-leia-tambem>
  </div>

</div>
