<div class="container-fluid my-4 px-0">
  <div class="faixa-assine text-center py-4 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <p class="mb-3 fs-5">
          Assine o <strong>Veritare</strong>! Com apenas <strong>R$9,99 por mês</strong>, você fortalece um jornalismo independente e de qualidade no Brasil.
        </p>
        <button class="subscribe-button" (click)="navigateToAssine()">Assine Agora</button>
      </div>
    </div>
  </div>
</div>
