
.informacoes-do-perfil {
    display: flex;
    justify-content: space-between;
    width: 40%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.perfil-usuario {
    display: flex;
    flex-direction: row; /* Alinha as divisões na horizontal */
    justify-content: space-between; /* Adiciona espaçamento entre elas */
    align-items: flex-start; /* Alinha os elementos no topo */
    gap: 20px; /* Espaçamento entre as divisões */
}

.informacoes-basicas {
    padding: 15px;
    border-radius: 8px;
}

.selo-premium {
    display: flex;
    width: 60%;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.editar-sair {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 20px; /* Espaçamento entre os botões */
    margin-bottom: 200px; /* Espaçamento inferior */
}

.custom-button {
    padding: 15px 30px; /* Aumenta o tamanho dos botões */
    font-size: 18px; /* Texto maior */
    font-weight: bold; /* Deixa o texto em negrito */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o ponteiro ao passar */
    border: none; /* Remove as bordas padrão */
    transition: all 0.3s ease; /* Transição suave para hover */
}

.custom-button.primary {
    background-color:#7070AC; /* Azul para o botão de edição */
    color: white; /* Texto branco */
}

.custom-button.primary:hover {
    background-color: #1E1E2E; /* Azul mais escuro no hover */
    transform: scale(1.05); /* Aumenta levemente no hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.custom-button.warn {
    background-color: #FF4C4C; /* Vermelho para o botão de exclusão */
    color: white; /* Texto branco */
}

.custom-button.warn:hover {
    background-color: #cc0000; /* Vermelho mais escuro no hover */
    transform: scale(1.05); /* Aumenta levemente no hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

