<app-container class="container-perfil-usuario">
    <h2>PERFIL DE USUÁRIO</h2>

    <div class="perfil-usuario">
        <div class="informacoes-do-perfil">
            <div class="informacoes-basicas">
                <div class="informacoes-perfil">
                    <h3 class="nome-perfil"> {{infosPerfilUsuario.Nome }} </h3>
                    <p class="email-usuario" ><strong>E-mail:</strong> {{infosPerfilUsuario.Email }}</p>
                    <p  class="telefone-usuario"><strong> Contato:</strong> {{infosPerfilUsuario.Contato}}</p>
                    <p class="tipo-usuario"><strong> Tipo de Usuario: </strong> {{infosPerfilUsuario.TipoDeUsuario}}</p>
                    <p><strong>Tempo de Acesso:</strong> {{ formatDate(infosPerfilUsuario.TempoDeAcesso) }}</p>
                    <p><strong>Data de Nascimento:</strong> {{ formatDate(infosPerfilUsuario.DataDeNascimento) }}</p>
                    
                    <p><strong>Endereço:</strong> {{infosPerfilUsuario.Endereco}}</p>
                    <p><strong>CPF:</strong> {{infosPerfilUsuario.CPF}}</p>
                    <p><strong>Acesso Premium:</strong> {{infosPerfilUsuario.AcessoPremium }}</p>
                    <p><strong>Premium expira em: </strong>{{infosPerfilUsuario.PremiumExpiraEm}}</p><p></p>
                </div>
            </div>
        </div>
        
        <div class="selo-premium">
            <h2>USUÁRIO PREMIUM Nº 1000</h2>
        </div>
    </div>


    <div class="editar-sair">
        <button mat-raised-button color="primary">Editar dados do pessoais</button>
        <button mat-button color="warn">Excluir conta</button>
    </div>
</app-container>
