<app-container class="container-perfil-usuario">
    <h2>PERFIL DE USUÁRIO</h2>

    <div class="informacoes-do-perfil">
        <div class="informacoes-basicas">
            <div class="informacoes-perfil">
                <h3 class="nome-perfil">Rodrigo Freires Soares</h3>
                <p class="email-usuario">{{'rodrigofreires05@gmail.com'}}</p>
                <p class="tipo-usuario">Usuário Administrador</p>
                <p class="editorias-preferidas"><strong>Editorias Preferidas:</strong> POLÍTICA/ECONOMIA/CULTURA</p>
            </div>
        </div>

        <div class="informacoes-detalhadas">
            <p><strong>Data de Nascimento:</strong> 01/01/1970</p>
            <p><strong>Endereço:</strong> Rua Exemplo, 123, Cidade, Estado</p>
            <p><strong>CPF:</strong> 123.456.789-00</p>
            <p><strong>Acesso Premium:</strong> Sim</p>
            <p><strong>Tempo de Acesso:</strong> 12 meses</p>
        </div>

    </div>

    <div class="sobre-mim">
        <h4>Sobre Mim:</h4>
        <textarea class="sobre-mim-textarea" placeholder="Escreva sobre você..." rows="10"></textarea>
    </div>

    <div class="profile-actions">
        <button mat-raised-button color="primary">Editar Perfil</button>
        <button mat-button color="warn">Sair</button>
    </div>

</app-container>
<app-footer></app-footer>

