.painel-noticias {
  display: flex;
  gap: 20px; /* Espaçamento entre os elementos */
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  border: none;
  box-shadow: none;
  background-color: #F9F9F9;
}

.listagem-de-noticias {
  width: 60%; /* A largura da lista de notícias */
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9 !important;
}

.barra-de-widgets {
  width: 40%; /* A largura do widget de clima */
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.barra-de-widgets > *:last-child {
  margin-bottom: 10px; /* Espaçamento de 10px abaixo do último item */
}

.barra-de-widgets {
  display: inline-flex; /* Ajusta conforme o conteúdo, mas ainda flex */
  flex-direction: column;
}

.barra-de-widgets {
  overflow: hidden;
}

/* Restante do estilo das notícias */
.item-noticia {
  width: 100%; /* A largura da notícia */
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: stretch; /* Garante que a imagem e o texto tenham a mesma altura */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: none !important;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.imagem-noticia {
  width: 35%; /* Imagem ocupa 35% na horizontal */
  height: 100%; /* Imagem ocupa 100% na vertical */
  object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
  border-radius: 4px; /* Ajuste nos cantos da imagem */
}

.detalhes-texto {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nome-editoria {
  font-size: 1.3rem;
  font-weight: bold;
  color: #7070AC;
  margin: 0;
}

.titulo-noticia {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin: 8px 0;
  cursor: pointer;
  text-decoration: none;
}

.titulo-noticia:hover {
  color: darkblue;
}

.descricao-noticia {
  font-size: 1rem;
  color: #666;
  margin: 8px 0;
}

.botao-global{
  margin-bottom: 30px;
}
