.painel-noticias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-noticia {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.card-noticia.destaque {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.card-noticia.destaque .conteudo-destaque {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.card-noticia.destaque img {
  max-width: 50%;
  border-radius: 8px;
}

.card-noticia.destaque .texto-destaque {
  flex: 1;
}

.card-noticia.destaque h1 {
  font-size: 2rem;
  margin: 0;
  color: #333;
}

.lista-noticias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.lista-noticias mat-card img {
  height: 150px;
  object-fit: cover;
}

.mat-card-content {
  font-size: 0.9rem;
}

.mat-card-actions {
  margin-top: 10px;
}

mat-card img {
  cursor: pointer; /* Define o cursor como 'pointer' ao passar sobre a imagem */
}