<div class="painel-noticias">
<!-- Destaque -->
<div class="conteudo-destaque">
  <mat-card class="card-noticia-destaque" appearance="outlined" 
            (click)="navegarParaNoticia(infosPostagem[0])">
    
    <!-- Imagem da notícia -->
    <img class="imagem-banner-destaque" mat-card-image src="{{ infosPostagem[0].imagem }}"  
         alt="Imagem da notícia destacada">    

    <!-- Texto sobreposto na imagem -->
    <div class="texto-sobre-imagem">
      <p><strong>{{ infosPostagem[0].nomeCategoria }}</strong> </p> 
      <h2>{{ infosPostagem[0].titulo }}</h2>
      <p>{{ infosPostagem[0].descricao }}</p>

    </div>

  </mat-card>
</div>

  <!-- Lista -->
  <div class="lista-noticias" *ngIf="infosPostagem.length > 1">
    <mat-card *ngFor="let postagem of infosPostagem.slice(1)" appearance="outlined">
      <p style="color: #7070AC; margin-bottom: 10px;"><strong>{{ postagem?.nomeCategoria }}</strong></p>
      <img class="imagem-banner-maior" mat-card-image src="{{ postagem.imagem }}"
      (click)="navegarParaNoticia(postagem)" 
           alt="Imagem da notícia destacada">
      <h3>{{ postagem?.titulo }}</h3>
    </mat-card>
  </div>
</div>
