<div class="mosaico-tres-quadrinhos" *ngIf="infosPostagem.length >= 3">
  <!-- Quadro grande 50% -->
  <div class="quadro-grande" (click)="navegarParaNoticia(infosPostagem[0])">
    <img class="imagem-quadro" [src]="infosPostagem[0].imagem" [alt]="'Imagem da notícia: ' + infosPostagem[0].titulo" />
    <div class="texto-sobreposto">
      <span class="categoria">{{ infosPostagem[0].nomeCategoria }}</span>
      <h3 class="titulo">{{ infosPostagem[0].titulo }}</h3>
      <p class="descricao">{{ infosPostagem[0].descricao }}</p>
    </div>
  </div>

  <!-- Coluna direita com dois quadros pequenos empilhados (25% cada) -->
  <div class="coluna-pequena">
    <div class="quadro-pequeno" (click)="navegarParaNoticia(infosPostagem[1])">
      <img class="imagem-quadro" [src]="infosPostagem[1].imagem" [alt]="'Imagem da notícia: ' + infosPostagem[1].titulo" />
      <div class="texto-sobreposto">
        <span class="categoria">{{ infosPostagem[1].nomeCategoria }}</span>
        <h3 class="titulo">{{ infosPostagem[1].titulo }}</h3>
        <p class="descricao">{{ infosPostagem[1].descricao }}</p>
      </div>
    </div>

    <div class="quadro-pequeno" (click)="navegarParaNoticia(infosPostagem[2])">
      <img class="imagem-quadro" [src]="infosPostagem[2].imagem" [alt]="'Imagem da notícia: ' + infosPostagem[2].titulo" />
      <div class="texto-sobreposto">
        <span class="categoria">{{ infosPostagem[2].nomeCategoria }}</span>
        <h3 class="titulo">{{ infosPostagem[2].titulo }}</h3>
        <p class="descricao">{{ infosPostagem[2].descricao }}</p>
      </div>
    </div>
  </div>
</div>
