<mat-sidenav-container class="dashboard-container">
    
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="Painel de Controle">
        
        <h3>Painel de Controle</h3>
        <p>veritare.com.br</p>
      </div>
      <mat-nav-list>
        <a mat-list-item  routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/news">
          <mat-icon>article</mat-icon>
          <span>News</span>
        </a>
        <a mat-list-item routerLink="/analytics">
          <mat-icon>bar_chart</mat-icon>
          <span>Analytics</span>
        </a>
        <a mat-list-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Painel de Publicações</span>
      </mat-toolbar>
      <div class="content">
        <mat-card>
          <p>Filtros</p>
          <div class="filters">
            <mat-form-field appearance="outline">
              <mat-label>Título</mat-label>
              <input matInput placeholder="Search" [(ngModel)]="searchName" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="selectedStatus">
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Editoria</mat-label>
              <mat-select [(ngModel)]="selectedEditor">
                <mat-option *ngFor="let editor of editors" [value]="editor">
                  {{ editor }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Data de publicação </mat-label>
                <mat-select [(ngModel)]="selectedEditor">
                  <mat-option *ngFor="let editor of editors" [value]="editor">
                    {{ editor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tipo de Publicação </mat-label>
                <mat-select [(ngModel)]="selectedEditor">
                  <mat-option *ngFor="let editor of editors" [value]="editor">
                    {{ editor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="actions">
                <!-- Botão para aplicar os filtros -->
                <button mat-raised-button color="primary" (click)="applyFilters()">
                  Aplicar Filtros
                </button>
              </div>

          </div>
  
          <table mat-table [dataSource]="infosPostagem" class="mat-elevation-z8">
  
            <!-- Título Column -->
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> Título </th>
              <td mat-cell *matCellDef="let postagem"> {{ postagem.titulo }} </td>
            </ng-container>
          
            <!-- Descrição Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let postagem"> {{ postagem.descricao }} </td>
            </ng-container>
          
            <!-- Categoria Column -->
            <ng-container matColumnDef="nomeCategoria">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let postagem"> {{ postagem.nomeCategoria }} </td>
            </ng-container>
          
            <!-- Status Column -->
            <ng-container matColumnDef="nomeStatus">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let postagem"> {{ postagem.nomeStatus || 'Status não disponível' }} </td>

            </ng-container>

          
            <!-- Data de Criação Column -->
            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
              <td mat-cell *matCellDef="let postagem"> {{ postagem.dataCriacao | date }} </td>
            </ng-container>
          
            <!-- Ações Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let postagem">

                <button mat-icon-button (click)="editarNoticia(postagem.idPostagem)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deletePostagem()">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="sharePostagem()">
                  <mat-icon>share</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          
          </table>
          
          <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons>
        </mat-paginator>
          
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  