<div class="noticias-container">
  <mat-card class="card-premium" *ngFor="let postagem of infosPostagem; let i = index" (click)="navegarParaNoticia(postagem)">
    
    <!-- Container para a imagem do banner com a etiqueta fixa -->
    <div class="imagem-container">
      <img class="imagem-banner-premium" mat-card-image [src]="postagem.imagem" [alt]="postagem.titulo">
      
      <!-- Etiqueta fixa no topo -->
      <img class="veritare-card-premium" src="/assets/images/card-premium-transparent.png">
    </div>

    <!-- Texto sobreposto na imagem -->
    <div class="texto-sobre-imagem">
      <h2>{{ postagem.titulo }}</h2>
      <p>{{ postagem.descricao }}</p>
    </div>
    
  </mat-card>
</div>
