<mat-card class="modal-content">
  <!-- Card Layout com imagem e conteúdo -->
  <div class="card-layout">
    <div class="image-section"></div>
    <div class="content-section">
      <mat-card-content class="header-content text-center">
        <h2 class="premium-title">VERITARE</h2>
        <h2 class="premium-title">Cadastro Realizado!</h2>

        <p class="premium-description">
            Cadastro Realizado!
          Um e-mail de ativação foi enviado para você. Por favor, verifique sua caixa de entrada.
        </p>
      </mat-card-content>
    </div>
  </div>
</mat-card>
