.perfil-usuario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
}

.informacoes-do-perfil {
    display: flex;
    flex-wrap: wrap; /* Para quebrar a linha quando necessário */
    gap: 20px; /* Adiciona espaço entre as colunas */
}

.informacoes-do-perfil > div {
    width: 48%; /* Cada campo ocupa 50% da largura disponível, com um pequeno espaço entre eles */
}

.full-width {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
