.perfil-usuario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
}

.informacoes-do-perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}