<h2 mat-dialog-title>Editar Perfil de Usuário</h2>
<mat-dialog-content class="perfil-usuario">
  <p>INFORMAÇÕES BÁSICAS</p>
  <form #perfilForm="ngForm" novalidate>
    <div class="informacoes-do-perfil">
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="perfilSelecionado.nome" name="nome" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CPF</mat-label>
          <input matInput [(ngModel)]="perfilSelecionado.cpf" name="cpf" mask="'000.000.000-00'" disabled>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contato</mat-label>
          <input matInput
                 [(ngModel)]="perfilSelecionado.contato"
                 name="contato"
                 mask="(00) 0.0000-0000"
                 dropSpecialCharacters="false"
                 onlyDigits="true"
                 (input)="onInputChange($event, 'contato')"  
                 (keypress)="somenteNumeros($event)"
                 pattern="^\(\d{2}\) \d{5}-\d{4}$"
                 maxlength="15"
                 required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="perfilSelecionado.email" name="email" type="email" disabled>
        </mat-form-field>
      </div>



      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Data de Nascimento</mat-label>    
          <input matInput
                 [matDatepicker]="picker"
                 [(ngModel)]="perfilSelecionado.dataDeNascimento"
                 name="dataDeNascimento"
                 required>
          <mat-hint>Padrão EUA / Mudar Depois</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <p>INFORMAÇÕES DO PERFIL</p>
    <div class="informacoes-do-perfil">
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select [(ngModel)]="perfilSelecionado.nomeTipoDeUsuario" name="tipoDeUsuario" required>
            <mat-option *ngFor="let tipo of ListaDeTiposDeUsuarios" [value]="tipo.nome">
              {{ tipo.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Premium/Comum</mat-label>
          <mat-select [(ngModel)]="perfilSelecionado.acessoPremium" name="premiumComum" disabled>
            <mat-option [value]="false">Comum</mat-option>
            <mat-option [value]="true">Premium</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Premium Expira em: </mat-label>
          
          <!-- Verifica se o campo está vazio e exibe uma mensagem -->
          <ng-container *ngIf="!perfilSelecionado.premiumExpiraEm; else datePicker">
            <input matInput value="O usuário não é premium" disabled>
          </ng-container>
          
          <!-- Bloco com o MatDatepicker -->
          <ng-template #datePicker>
            <input matInput
                   [matDatepicker]="picker"
                   [(ngModel)]="perfilSelecionado.premiumExpiraEm"
                   name="dataExpiraPremium"
                   [disabled]="!perfilSelecionado.premiumExpiraEm">
          </ng-template>
          
          <!-- Ícone do calendário (desabilitado se não houver data) -->
          <mat-hint>Padrão EUA / Mudar Depois</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="!perfilSelecionado.premiumExpiraEm"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="start">
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="EditarPerfilDoUsuario()">Salvar</button>
</mat-dialog-actions>
