<header class="app-editoria">
    <mat-toolbar class="editoria-healer">
      <button mat-button class="botao-editoria"> POLÍTICA </button>
      <button mat-button class="botao-editoria" > ECONOMIA </button>
      <button mat-button class="botao-editoria"> CULTURA  </button>
      <button mat-button class="botao-editoria"> ESPORTE </button>
      <button mat-button class="botao-editoria"> TECNOLOGIA </button>
      <button mat-button class="botao-editoria"> SAÚDE </button>
      <button mat-button class="botao-editoria"> EDUCAÇÃO </button>
      <button mat-button class="botao-editoria"> GAMES  </button>
    </mat-toolbar>
  </header>