/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-sucesso {
  background-color: #4caf50; /* Verde para sucesso */
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.snackbar-error {
  background-color: #f44336; /* Vermelho para erro */
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.botoes-de-envio {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Alinha verticalmente se necessário */
  margin-bottom: 20px; /* Adiciona margem inferior */
}

/* Botão de assinatura */
.botao-global {
  background: linear-gradient(135deg, #070C18, #14153E, #0A0C1B);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.botao:hover {
  background-color: #71e77f; /* Altera a cor do fundo ao passar o mouse */
  transform: translateY(-2px); /* Eleva o botão ao passar o mouse */
}

.botao-finalizar:active {
  transform: translateY(0); /* Reseta a elevação ao clicar */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important; /* Remove a cor de fundo */
  border: 1px solid var(--mdc-text-field-border-color, #ccc); /* Adiciona uma borda */
  border-radius: 4px; /* Define cantos arredondados, opcional */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):focus-within {
  border-color: var(
    --mdc-text-field-border-focus-color,
    #6200ee
  ); /* Cor da borda no foco */
  outline: none;
}

.mat-mdc-card{
  background-color: white !important;
}
.noticia-card_ngcontent-ng-c1579001365{
 background-color: white !important;
}

.ql-container {
  font-size: 16px !important;
}

/* CSS PARA IMAGENS DO SITE */