<app-container class="container-criar-notícia">

    <h2>CRIAÇÃO DE NOTÍCIAS</h2>
    <div class="cabecalho-noticia">
        <mat-form-field class="titulo">
            <mat-label>TITULO DA NOTÍCIA</mat-label>
            <input matInput>
        </mat-form-field>

        <div>
            <!-- Descrição --> 
            <mat-form-field class="descricao">
                <mat-label>DESCRIÇÃO DA NOTÍCIA</mat-label>
                <input matInput>
            </mat-form-field>

            <!-- Editoria -->
            <mat-form-field class="editoria">
                <mat-label>EDITORIA</mat-label>
                <mat-select [(value)]="editoriaSelecionada"> <!-- Armazena o ID selecionado -->
                  <mat-option *ngFor="let editoria of editorias" [value]="editoria.id"> <!-- Define o ID como valor -->
                    {{ editoria.nome }} <!-- Exibe o nome da editoria -->
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
        </div>
    </div>

    <div class="corpo-da-noticia">

        <button mat-button> SELECIONE UMA IMAGEM</button> 
        
        <div class="textos-principais">
            <h3>GERADO POR HUMANO</h3>
            <mat-form-field class="texto-da-noticia">
                <mat-label>ESCREVA AQUI</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <h3>GERADO PELA AISENTONA</h3>
            <mat-form-field class="texto-da-noticia">
                <mat-label>ESCREVA AQUI</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <h3>PALAVRAS CORTADAS</h3>
            <mat-form-field class="texto-da-noticia">
                <mat-label>ESCREVA AQUI</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <mat-form-field class="nome-do-autor">
            <mat-label>NOME DO AUTOR</mat-label>
            <input matInput>
        </mat-form-field>

    </div>
</app-container>
<app-footer></app-footer>