<app-container class="container-criar-notícia">

    <h2>CRIAÇÃO DE NOTÍCIAS</h2>
    <div class="cabecalho-noticia">
        <!-- Título -->
        <mat-form-field class="titulo">
            <mat-label>TITULO DA NOTÍCIA</mat-label>
            <textarea
            placeholder="Máximo de 65 caracteres"
            maxlength="65"  
            matInput [(ngModel)]="infosPostagem.titulo"></textarea>
        </mat-form-field>

        <div>
            <!-- Descrição -->
            <mat-form-field class="descricao">
                <mat-label>DESCRIÇÃO DA NOTÍCIA</mat-label>
                <textarea 
                maxlength="160"
                placeholder="Máximo de 160 caracteres"
                matInput [(ngModel)]="infosPostagem.descricao"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="corpo-da-noticia">

        <div class="imagem-pre-visualizar" *ngIf="imagemBase64">
            <h3>Pré-visualização da Imagem:</h3>
            <img [src]="infosPostagem.imagem" alt="Pré-visualização da Imagem">
        </div>        

        <div class="botoes-de-envio">
            <input
                type="file"
                id="fileInput"
                style="display: none;"
                (change)="selecionarImagem($event)"
                accept="image/*" />
            <button class="botao" mat-button (click)="abrirSeletorDeArquivo()">
                SELECIONE UMA IMAGEM
            </button>
        </div>

        <div class="textos-principais">
            <!-- Gerado Por Humano -->
            <h3>GERADO POR HUMANO</h3>
            <div class="texto-da-noticia">
                <quill-editor class="texto-da-noticia"
                  [(ngModel)]="infosPostagem.conteudo"
                  [style.height]="'300px'">
                </quill-editor>
            </div>
        
            <!-- Gerado Por AISENTONA -->
            <h3>GERADO PELA AISENTONA</h3>
            <mat-form-field class="texto-da-noticia" appearance="fill">
                <mat-label>ESCREVA AQUI</mat-label>
                <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="5000"
                    [(ngModel)]="infosPostagem.textoAlteradoPorIA"
                    rows="5"></textarea>
            </mat-form-field>

            <!-- PALAVRAS CORTADAS-->
            <h3>PALAVRAS CORTADAS</h3>
            <mat-form-field class="texto-da-noticia">
                <mat-label>ESCREVA AQUI</mat-label>
                <textarea  
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="5000"
                    [(ngModel)]="infosPostagem.palavrasRetiradasPorIA"></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="status">
                <mat-label>STATUS DA NOTÍCIA</mat-label>
                <mat-select [(value)]="statusSelecionado">

                    <mat-option *ngFor="let status of ListaDeStatus"
                        [value]="status.id">
                        {{ status.descricao }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Editoria -->

            <mat-form-field class="editoria">
                <mat-label>EDITORIA</mat-label>
                <mat-select [(value)]="editoriaSelecionada">

                    <mat-option *ngFor="let editoria of listaDeEditorias"
                        [value]="editoria.id"> 
                        {{ editoria.nome }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="premiumOuComum">
                <mat-label>TIPO DE PUBLICAÇÃO</mat-label>
                <mat-select [(ngModel)]="tipoSelecionado"> 
                    <mat-option *ngFor="let tipo of tipoDePublicacao" [value]="tipo">
                        {{ tipo }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>

    </div>

    <!-- Botão para Enviar -->
    <div class="botoes-de-envio">
        <button class="botao" mat-raised-button color="primary"
            (click)="publicarNoticia()">
            FINALIZAR
        </button>
    </div>
</app-container>