<mat-card class="weather-card">
  <mat-card-title>Previsão do Tempo em {{ local }}</mat-card-title>
  <mat-divider></mat-divider>

  <div class="weather-lista">
    <div class="weather-item">
      <span class="ranking-numero">Hoje:</span>
      <span class="titulo-noticia">
        {{ dataHoje }} | {{ diaDaSemana }} - {{ temperatura }}°C
      </span>
    </div>

    <h3>Próximos Dias</h3>
    <div *ngFor="let previsao of previsaoFutura; index as i" class="weather-item">
      <span class="ranking-numero">{{ i + 1 }}.</span>
      <span class="titulo-noticia">
        {{ previsao.diaDaSemana }} - {{ previsao.dataFormatada }} - {{ previsao.temperatura }}°C
      </span>
    </div>
  </div>
</mat-card>
