<div class="meu-componente">

    <app-container class="login-container">
        <!-- Informações -->
        <div class="info-section">
            <div>
                <h1>Bem-vindo ao Jornal Isento de Jornalistas</h1>
                <p>Informação com imparcialidade e qualidade</p>
                <p>
                    <strong>Jornal Isento de Jornalistas:</strong><br>
                    Utilizamos inteligência artificial para oferecer informações precisas e imparciais.
                </p>
                <h3>Nosso diferencial:</h3>
                <ul>
                    <li>Diferencie <strong>OPINIÃO</strong> de <strong>INFORMAÇÃO</strong>.</li>
                    <li><strong>Conteúdo Exclusivo:</strong> Receba análises aprofundadas e reportagens especiais.</li>
                </ul>
                <p>
                    <strong>Assine o Plano Premium</strong> e faça parte da revolução do jornalismo imparcial impulsionado por IA.
                </p>
            </div>
        </div>

        <!-- Login -->
        <div class="login-section">
            <div>
                <h2>Acesso</h2>
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div>
                        <mat-error *ngIf="!loginValid">
                            Usuário ou senha incorretos!
                        </mat-error>
                    </div>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Usuário" [(ngModel)]="user" name="username" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" placeholder="Senha" [(ngModel)]="password" name="password" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="full-width" [disabled]="!loginForm.form.valid">Login</button>
                </form>
                <div class="additional-options">
                    <button mat-stroked-button color="accent" class="full-width" (click)="loginWithGoogle()">
                        <mat-icon>login</mat-icon>
                        Entrar com Google
                    </button>
                    <div>
                        <a mat-button routerLink="/forgot-password">Esqueci minha senha</a>
                        |
                        <a mat-button routerLink="/register">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </app-container>
</div>
<app-footer></app-footer>
