<div class="container">
    <div class="signup-wrapper">
        <!-- Side Info Section -->
        <div class="info-section">
            <video autoplay muted loop width="600" height="750" onloadedmetadata="this.currentTime=1;">
                <source src="assets/videos/veritaIa.mp4" type='video/mp4;'> 
                Seu navegador não suporta vídeos HTML5.
            </video>
        </div>

        <!-- Sign-Up Section -->
        <div class="form-section">
            <h2>Bem-Vindo!</h2>
            <p class="botao-cadastro">Não possui uma conta?  <a routerLink="/cadastro-de-usuario"> Registre-se</a></p>
            <div class="signup-form">
                <input matInput type="text" placeholder="Digite seu e-mail" [(ngModel)]="email" name="usuario" required (blur)="onBlurEmail()" />
                <span *ngIf="!email && emailTouched" class="error">O e-mail é obrigatório.</span>
                
                <input matInput type="password" placeholder="Digite sua senha" [(ngModel)]="senha" name="senha" required (blur)="onBlurSenha()" />
                <span *ngIf="!senha && senhaTouched" class="error">A senha é obrigatória.</span>
                

                <div class="alternative-login">
                    <button class="botão-entrar" [disabled]="!email || !senha" (click)="login()">
                        Entrar
                    </button>
                    <button class="google-login" (click)="loginWithGoogle()"> 
                        <img src="assets/icones/google-icon.png" alt="Google Icon">
                        Conecte-se pelo Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}
</style>
