
.app-header{
    button {
      margin: 0 16px;
  
    }
    .spacer {
      flex: 1 1 auto;
    }
  
    .mat-toolbar{
      background-color: black;
      color: white;
      padding: 0 10%;
      justify-content: space-between;
    }
  
    .mat-mdc-outlined-button:not(:disabled) {
      border-color: white;
    }

    .botao-header{
        background-color: #007BFF;
        color: #FFFFFF;
        
    }

    .home-link {
      text-decoration: none;
      color: inherit;
      font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
      font-weight: bold; /* Se desejar um texto mais destacado */
      cursor: pointer;
    }
    
    .home-link:hover {
      color: #1976d2; /* Cor ao passar o mouse, ajuste conforme o tema */
    }

    .user-name{
      font-size: medium;
    }

  }