<header class="app-header">
  <mat-toolbar class="tool-bar">
    <a routerLink="/home" class="home-link">VERITARE</a>

    <button *ngIf="isLoggedIn && acessarPainelDeControle()" mat-flat-button class="botao-header" routerLink="/painel-de-controle">PAINEL DE CONTROLE</button>
    <div class="login">
      <!-- Exibe o nome do usuário, se ele estiver logado -->
      <span *ngIf="isLoggedIn" class="user-name">Bem-vindo, {{ userName }}!</span>

      <!-- Botões para usuários não logados -->
      <button *ngIf="!isLoggedIn" mat-flat-button class="botao-header" routerLink="/cadastro-de-usuario">Cadastre-se</button>
      <button *ngIf="!isLoggedIn" mat-flat-button class="botao-header" routerLink="/login">Login</button>

      <!-- Botões para usuários logados -->

      <button *ngIf="isLoggedIn" mat-flat-button class="botao-header" [routerLink]="['/perfil-de-usuario', idUsuario]">Perfil</button>
      <button *ngIf="isLoggedIn" mat-flat-button class="botao-header" (click)="logout()">Logout</button>

    </div>
  </mat-toolbar>
</header>
